extends ../layouts/starter

append head
	title [KCBBL] Match: #{curMatch.team1.name} VS #{curMatch.team2.name} (#{curMatch.team1_tds}-#{curMatch.team2_tds})

append body
	.container.body-container
		.row
			.jumbotron.match-jumbotron
				.container
					.row
						h2.scoreboard.col-md-2.col-md-offset-5.text-center #{curMatch.team1_tds} - #{curMatch.team2_tds}
					.row
						.col-md-5
							h1.text-center.match-team-name 
								a(href="/teams/"+curMatch.team1.id) #{curMatch.team1.name}
							table.table.table-condensed.table-bordered
								tbody
									tr.active
										th.text-center TDs
										th.text-center CAS
										th.text-center Kills
										th.text-center Fouls
									tr
										td.text-center #{curMatch.team1_tds}
										td.text-center #{curMatch.team1_cas}
										td.text-center #{curMatch.team1_kills}
										td.text-center 0
						.col-md-2.vertical-center-parent
							//- h2.text-center.scoreboard #{curMatch.team1_tds} - #{curMatch.team2_tds}
							h2.text-center.versus VS
						.col-md-5
							h1.text-center.match-team-name 
								a(href="/teams/"+curMatch.team2.id) #{curMatch.team2.name}
							table.table.table-condensed.table-bordered
								tbody
									tr.active
										th.text-center TDs
										th.text-center CAS
										th.text-center Kills
										th.text-center Fouls
									tr
										td.text-center #{curMatch.team2_tds}
										td.text-center #{curMatch.team2_cas}
										td.text-center #{curMatch.team2_kills}
										td.text-center 0
					.row
						.col-md-12.text-center
							h2.btn-group
								button.btn.btn-default.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select a match...&nbsp;
									span.caret
								ul.dropdown-menu
									each match, i in matches
										li
											if match.id == curMatch.id
												a(href="#") #{match.team1.name} VS #{match.team2.name} (#{match.team1_tds}-#{match.team2_tds})
											else
												a(href="/matches/"+match.id) #{match.team1.name} VS #{match.team2.name} (#{match.team1_tds}-#{match.team2_tds})
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3.panel-title
							| #{curMatch.team1.race.name} team coached by 
							a(href="/coaches/"+curMatch.team1.coach.id) #{curMatch.team1.coach.name}
					.panel-body
						table.table.table-condensed.table-hover
							tbody
								tr
									th Team Value
									td #{curMatch.team1_tv},000 gp
								tr
									th Inducements
									td
										if curMatch.team1_inducements_value > 0 
											table.table.table-condensed.table-hover
												tbody
													tr
														td &nbsp;
														th.text-right +Petty Cash: 
														td
															if curMatch.team1_petty_cash > 0
																| #{curMatch.team1_petty_cash},000 gp
															else
																| 0 gp
													tr
														td &nbsp;
														th.text-right Total Allowed: 
														td #{curMatch.team1_inducements_value},000 gp
														- var team1_inducements_taken = 0
													each inducement, i in team1Inducements.inducements
														- team1_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td 
																+tooltip-bottom(inducement.name, inducement.description, "/inducements#" + inducement.name.toLowerCase().replace(/[^a-z]/g,"_"))
															td #{inducement.cost * inducement.amount},000 gp
													each inducement, i in team1Inducements.playerInducements
														- team1_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td
																if inducement.star_player == 0
																	+tooltip-bottom("Mercenary "+inducement.name, "Same as regular '"+inducement.name+"' "+inducement.raceName+" positional but includes 'Loner' skill.", "/races#"+inducement.raceName.toLowerCase().replace(/[^a-z]/g,"_"))
																else
																	+tooltip-bottom(inducement.name, "Star Player", "/starplayers/"+inducement.player_type_id)
															td #{inducement.cost * inducement.amount},000 gp
													each inducement, i in team1Inducements.deckInducements
														- team1_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td
																if inducement.cardName
																	+tooltip-bottom(inducement.name+" Card ("+inducement.cardName+")", inducement.description, "/decks#"+inducement.cardName.toLowerCase().replace(/[^a-z]/g,"_"))
																else
																	a(href="/decks#"+inducement.name.toLowerCase().replace(/[^a-z]/g,"_")) #{inducement.name} Card
															td #{inducement.cost * inducement.amount},000 gp
													tr
														td &nbsp;
														th.text-right Total Taken: 
														td
															if team1_inducements_taken > 0
																| #{team1_inducements_taken},000 gp
															else
																| 0 gp
										else
											| None
								tr
									th Match Type
									td #{curMatch.team1_match_type.name}
								tr
									th Gate
									td #{curMatch.team1_gate},000 fans
								tr
									th FAME
									td +#{curMatch.team1_fame}
						table.table.table-condensed.table-hover.table-bordered.match-roster
							thead
								tr
									th.match-header-number.text-center #
									th.match-header-rotated
										div CMP
									th.match-header-rotated
										div TD
									th.match-header-rotated
										div INT
									th.match-header-rotated
										div CAS
									th.match-header-rotated
										div Kills
									th.match-header-rotated
										div Fouls
									th.match-header-rotated
										div MVP
									th.match-header-rotated
										div SPP
									th.match-header-rotated
										div MNG
									th.match-header-rotated
										div Niggle
									th.match-header-rotated
										div -Stat
									th.match-header-rotated
										div RIP
									th.match-skills New Skill
							tbody
								each matchPlayer, i in Object.values(team1MatchPlayers)
									if matchPlayer
										tr.vert-center
											th.text-center.vert-center #{matchPlayer.player.number}	
											td.match-value.vert-center
												div #{matchPlayer.completions ? matchPlayer.completions : ""}
											td.match-value.vert-center
												div #{matchPlayer.touchdowns ? matchPlayer.touchdowns : ""}
											td.match-value.vert-center
												div #{matchPlayer.interceptions ? matchPlayer.interceptions : ""}
											td.match-value.vert-center
												div #{matchPlayer.casualties ? matchPlayer.casualties : ""}
											td.match-value.vert-center
												div #{matchPlayer.kills ? matchPlayer.kills : ""}
											//- td #{player.}
											td.match-value.vert-center
												div 
											td.match-value.vert-center
												div #{matchPlayer.mvp ? matchPlayer.mvp : ""}
											td.match-value.vert-center
												div #{matchPlayer.completions + (3 * matchPlayer.touchdowns) + (2 * matchPlayer.interceptions) + (2 * matchPlayer.casualties) + (5 * matchPlayer.mvp)}
											td.match-value.vert-center
												div #{matchPlayer.miss_next_game ? matchPlayer.miss_next_game : ""}
											td.match-value.vert-center
												div #{matchPlayer.niggling_injury ? matchPlayer.niggling_injury : ""}
											//- td #{player.}
											td.match-value.vert-center
												div 
											td.match-value.vert-center
												div #{matchPlayer.killed_by_player_id ? "RIP" : ""}
											td
												div #{matchPlayer.skills.map((skill)=>{return skill.name}).join(", ")}
									else
										tr.match-player-none
											th.text-center #{i+1}	
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td 



			.col-md-6
				.panel.panel-default
					.panel-heading
						h3.panel-title
							| #{curMatch.team2.race.name} team coached by 
							a(href="/coaches/"+curMatch.team2.coach.id) #{curMatch.team2.coach.name}
					.panel-body
						table.table.table-condensed.table-hover
							tbody
								tr
									th Team Value
									td #{curMatch.team2_tv},000 gp
								tr
									th Inducements
									td
										if curMatch.team2_inducements_value > 0 
											table.table.table-condensed.table-hover
												tbody
													tr
														td &nbsp;
														th.text-right +Petty Cash: 
														td
															if curMatch.team2_petty_cash > 0
																| #{curMatch.team2_petty_cash},000 gp
															else
																| 0 gp
													tr
														td &nbsp;
														th.text-right Total Allowed: 
														td #{curMatch.team2_inducements_value},000 gp
														- var team2_inducements_taken = 0
													each inducement, i in team2Inducements.inducements
														- team2_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td 
																+tooltip-bottom(inducement.name, inducement.description, "/inducements#" + inducement.name.toLowerCase().replace(/[^a-z]/g,"_"))
															td #{inducement.cost * inducement.amount},000 gp
													each inducement, i in team2Inducements.playerInducements
														- team2_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td
																if inducement.star_player == 0
																	+tooltip-bottom("Mercenary "+inducement.name, "Same as regular '"+inducement.name+"' "+inducement.raceName+" positional but includes 'Loner' skill.", "/races#"+inducement.raceName.toLowerCase().replace(/[^a-z]/g,"_"))
																else
																	+tooltip-bottom(inducement.name, "Star Player", "/starplayers/"+inducement.player_type_id)
															td #{inducement.cost * inducement.amount},000 gp
													each inducement, i in team2Inducements.deckInducements
														- team2_inducements_taken += (inducement.cost * inducement.amount)
														tr
															td #{inducement.amount}x
															td
																if inducement.cardName
																	+tooltip-bottom(inducement.name+" Card ("+inducement.cardName+")", inducement.description, "/decks#"+inducement.cardName.toLowerCase().replace(/[^a-z]/g,"_"))
																else
																	a(href="/decks#"+inducement.name.toLowerCase().replace(/[^a-z]/g,"_")) #{inducement.name} Card
															td #{inducement.cost * inducement.amount},000 gp
													tr
														td &nbsp;
														th.text-right Total Taken: 
														td
															if team2_inducements_taken > 0
																| #{team2_inducements_taken},000 gp
															else
																| 0 gp
										else
											| None
								tr
									th Match Type
									td #{curMatch.team2_match_type.name}
								tr
									th Gate
									td #{curMatch.team2_gate},000 fans
								tr
									th FAME
									td +#{curMatch.team2_fame}
						table.table.table-condensed.table-hover.table-bordered.match-roster
							thead
								tr
									th.match-header-number.text-center #
									th.match-header-rotated
										div CMP
									th.match-header-rotated
										div TD
									th.match-header-rotated
										div INT
									th.match-header-rotated
										div CAS
									th.match-header-rotated
										div Kills
									th.match-header-rotated
										div Fouls
									th.match-header-rotated
										div MVP
									th.match-header-rotated
										div SPP
									th.match-header-rotated
										div MNG
									th.match-header-rotated
										div Niggle
									th.match-header-rotated
										div -Stat
									th.match-header-rotated
										div RIP
									th.match-skills New Skill
							tbody
								each matchPlayer, i in Object.values(team2MatchPlayers)
									if matchPlayer
										tr.vert-center
											th.text-center.vert-center #{matchPlayer.player.number}	
											td.match-value.vert-center
												div #{matchPlayer.completions ? matchPlayer.completions : ""}
											td.match-value.vert-center
												div #{matchPlayer.touchdowns ? matchPlayer.touchdowns : ""}
											td.match-value.vert-center
												div #{matchPlayer.interceptions ? matchPlayer.interceptions : ""}
											td.match-value.vert-center
												div #{matchPlayer.casualties ? matchPlayer.casualties : ""}
											td.match-value.vert-center
												div #{matchPlayer.kills ? matchPlayer.kills : ""}
											//- td #{player.}
											td.match-value.vert-center
												div 
											td.match-value.vert-center
												div #{matchPlayer.mvp ? matchPlayer.mvp : ""}
											td.match-value.vert-center
												div #{matchPlayer.completions + (3 * matchPlayer.touchdowns) + (2 * matchPlayer.interceptions) + (2 * matchPlayer.casualties) + (5 * matchPlayer.mvp)}
											td.match-value.vert-center
												div #{matchPlayer.miss_next_game ? matchPlayer.miss_next_game : ""}
											td.match-value.vert-center
												div #{matchPlayer.niggling_injury ? matchPlayer.niggling_injury : ""}
											//- td #{player.}
											td.match-value.vert-center
												div 
											td.match-value.vert-center
												div #{matchPlayer.killed_by_player_id ? "RIP" : ""}
											td
												div #{matchPlayer.skills.map((skill)=>{return skill.name}).join(", ")}
									else
										tr.match-player-none
											th.text-center #{i+1}	
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td.match-value
												div 
											td.match-value
												div 
											//- td #{player.}
											td 