extends ../layouts/starter

append head
	title [KCBBL] Player #{curPlayer.name}

append body
	.container.body-container
		.row
			.jumbotron.match-jumbotron
				.container
					.row
						.col-md-12
							.btn-group
								.btn-group(role="group")
									button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button") 
										| #{curPlayer.team.season.name} 
										span.caret
									ul.dropdown-menu
										each season, i in seasons
											li
												if season.firstPlayer
													a(href="/players/"+season.firstPlayer.id) #{season.name} 
														if season.id == curPlayer.team.season.id
															| (selected)
												else
													a(href="#") #{season.name} (no players)
								.btn-group(role="group")
									button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button") 
										| #{curPlayer.team.name} 
										span.caret
									ul.dropdown-menu
										each team, i in curSeasonTeams
											li
												a(href="/players/"+team.firstPlayer.id) #{team.name} (#{team.race.name}) 
													if team.id == curPlayer.team.id 
														| &nbsp;(selected)
								.btn-group(role="group")
									button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button") 
										| #{curPlayer.name} 
										span.caret
									ul.dropdown-menu
										each player, i in curTeamPlayers
											li
												a(href="/players/"+player.id) ##{player.number}: #{player.name} (#{player.type.name}) 
													if player.id == curPlayer.id
														| &nbsp;(selected)
					.row
						.col-md-8
							h1 #{curPlayer.name}
							p
								| #{curPlayer.type.name} on the 
								a(href="/teams/"+curPlayer.team.id) #{curPlayer.team.name}
								| &nbsp;#{curPlayer.team.race.name} team coached by 
								a(href="/coaches/"+curPlayer.team.coach.id) #{curPlayer.team.coach.name}
							p
								.col-md-3
									table.table-bordered.table-condensed
										thead
											tr
												th MV
												th ST
												th AG
												th AV
												th SPP
										tbody
											tr
												if improvements.MV > 0
													td.text-center.player-improvement #{curPlayer.type.movement + improvements.MV}
												else if improvements.MV < 0
													td.text-center.player-injury #{curPlayer.type.movement + improvements.MV}
												else
													td.text-center #{curPlayer.type.movement}

												if improvements.ST > 0
													td.text-center.player-improvement #{curPlayer.type.strength + improvements.ST}
												else if improvements.ST < 0
													td.text-center.player-injury #{curPlayer.type.strength + improvements.ST}
												else
													td.text-center #{curPlayer.type.strength}

												if improvements.AG > 0
													td.text-center.player-improvement #{curPlayer.type.agility + improvements.AG}
												else if improvements.AG < 0
													td.text-center.player-injury #{curPlayer.type.agility + improvements.AG}
												else
													td.text-center #{curPlayer.type.agility}

												if improvements.AV > 0
													td.text-center.player-improvement #{curPlayer.type.armor + improvements.AV}
												else if improvements.AV < 0
													td.text-center.player-injury #{curPlayer.type.armor + improvements.AV}
												else
													td.text-center #{curPlayer.type.armor}
												td.text-center #{curPlayer.spp}
								.col-md-9
									table.table-bordered.table-condensed
										thead
											tr
												th Skills
										tbody
											tr
												td
													if curPlayerSkills.length > 0
														each skill, i in curPlayerSkills
															if i+1 < curPlayerSkills.length
																| #{skill.name}, 
															else
																| #{skill.name}
													else
														| None
						.col-md-4
							img.race-portrait.img-responsive.pull-right(src="/images/races/portraits/"+curPlayer.team.race.name.toLowerCase().replace(" ","%20")+".png")
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Stats
					.panel-body
						.list-group
							a.list-group-item(href="#") 
								h4.list-group-item-heading Casualties: #{curPlayer.casualties}
								h5.list-group-item-heading Kills: #{curPlayer.kills}
							a.list-group-item(href="#")
								h4.list-group-item-heading Touchdowns: #{curPlayer.touchdowns}
							a.list-group-item(href="#")
								h4.list-group-item-heading Interceptions: #{curPlayer.interceptions}
							a.list-group-item(href="#")
								h4.list-group-item-heading MVPs: #{curPlayer.mvps}
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Seasons
					.panel-body
						.list-group
							each season, i in curPlayerSeasons
								a.list-group-item(href="/seasons/"+season.id) #{season.name}
									if season.id == curSeason.id
										| &nbsp;(in progress)