extends ../layouts/starter

append head
	title [KCBBL] Races

append body
	.container.body-container
		.row
			.col-md-3
				h1 
					span.glyphicon.glyphicon-info-sign
					| &nbsp;Races

		.row.season-body
			each race, i in races
				a.anchor(id=race.name.toLowerCase().replace(/[^a-z]/g,"_"))
				.panel.panel-default
					.panel-heading 
						b #{race.name}
					.panel-body 
						.col-md-10
							p
								i #{race.description}
							table.table
								tr
									th.center Max
									th Name
									th Skills
									th.center MA
									th.center ST
									th.center AG
									th.center AV
									th Cost
									th.center Normal
									th.center Double
								each positional, j in race.positionals
									if positional.star_player == 0
										tr
											td.nowrap.center 0-#{positional.max}
											td #{positional.name}
											td 
												each skill, k in positional.skills
													+tooltip-bottom(skill.name,skill.description,"/skills#"+skill.name.toLowerCase().replace(/[^a-z]/g,"_"))
													if k+1 < positional.skills.length
														| , 

											td.center #{positional.movement}
											td.center #{positional.strength}
											td.center #{positional.agility}
											td.center #{positional.armor}
											td.nowrap #{positional.value},000 gp
											td.center #{positional.normals}
											td.center #{positional.doubles}

							h4 Coaching Staff
							each purchase, j in race.purchases
								.col-md-4
									| #{purchase.max ? "0-"+purchase.max : "0+"} 
									+tooltip-bottom(purchase.name,purchase.description,"/purchases#"+purchase.name.toLowerCase().replace(/[^a-z]/g,"_"))
									| &nbsp;(#{purchase.cost ? purchase.cost+"k" : "cost varies"})
							if race.name == "Necromantic Horror" || race.name == "Shambling Undead"
								.col-md-6 
									| No Apothecary--your head coach is a 
									+tooltip-bottom("Necromancer","Instead of purchasing an Apothecary, Necromantic and Undead teams use the services of a Necromancer. The Necromancer is free to the team and allows the team once per a match to 'Raise the Dead'.\r\n\r\nIf a player on the opposing team with Strength 4 or less that does not have Regeneration or Stunty is killed during the match (after Apothecary attempt if any) then the team may immediately place a new Zombie player in the Reserves box of their dugout (this may cause a team to have more than 16 players for the remainder of the match). During Step 5 of Prepare for Next Match, you may add this player to your roster for free if you have less than 16 players on the team. A free Zombie still counts at full value towards the team value.")
									| !
							else if race.name == "Nurgle" || race.name == "Khemri Tomb Kings"
								.col-md-6
									| No Apothecary--your players have 
									+tooltip-bottom(regenSkill.name,regenSkill.description,"/skills#"+regenSkill.name.toLowerCase().replace(/[^a-z]/g,"_"))
									| !
							
							
						.col-md-2
							img.race-crest(src="/images/races/crests/"+race.name.toLowerCase().replace(" ","%20")+".png")

						.col-md-12
							h4.race-star-players Star Players
							table.table
								tr
									th Name
									th Skills
									th Cost
									th.center MA
									th.center ST
									th.center AG
									th.center AV
									th Upkeep
								each positional, j in race.positionals
									tr
										if positional.star_player
											td
												a(href="/starplayers/" + positional.id) #{positional.name}
											td
												each skill, k in positional.skills
													if k+1 < positional.skills.length
														+tooltip-bottom(skill.name,skill.description,"/skills#"+skill.name.toLowerCase().replace(/[^a-z]/g,"_"))
													if k+1 < positional.skills.length
														| , 
												if positional.description
													p
														i
															if positional.description.startsWith("Note: ")
																b Note: 
																| #{positional.description.replace("Note: ","")}
															else
																| #{positional.description}
											td.nowrap #{positional.value},000 gp
											td.center #{positional.movement}
											td.center #{positional.strength}
											td.center #{positional.agility}
											td.center #{positional.armor}
											td.nowrap #{positional.value <= 100 ? 20 : positional.value <= 150 ? 30 : positional.value <= 200 ? 40 : positional.value <= 300 ? 50 : 60},000 gp
											
