extends ../layouts/starter

append head
	title [KCBBL] Season #{selectedSeason.name.replace("Season","")}

append body
	.container.body-container
		.row
			.col-md-3
				h1 #{selectedSeason.name}
			.col-md-4
				nav.seasonsPaging
					.btn-group
						if prevSeason
							a.btn.btn-default(href="/seasons/"+prevSeason.id role="button") &laquo;
						.btn-group(role="group")
							button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button") 
								| #{selectedSeason.name}
								if currentSeason.id == selectedSeason.id
									| &nbsp;(in progress)
								| &nbsp;&nbsp;
								span.caret
							ul.dropdown-menu
								each season, i in seasons
									li
										a(href="/seasons/"+season.id) #{season.name}
											if season.id == selectedSeason.id
												| &nbsp;(selected)
						if nextSeason
							a.btn.btn-default(href="/seasons/"+nextSeason.id role="button") &raquo;

		.row.season-body
			.col-md-4
				.panel.panel-default
					.panel-heading
						.panel-title
							img.img-responsive.center-block.trophy(src="/images/trophies/"+trophyImage)
					.panel-body.list-group
						a.list-group-item.active(href=selectedSeasonWinningTeam ? "/teams/"+selectedSeasonWinningTeam.id : "#") 
							h4.list-group-item-heading Winner
							h5.list-group-item-heading 
								if selectedSeasonWinningTeam
									| #{selectedSeasonWinningTeam.name}
									p.list-group-item-text #{selectedSeasonWinningTeam.coach.name}
								else
									| To be determined
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Stats
					.panel-body
						.list-group
							if stats.mostCas > 0
								a.list-group-item(href="/teams/"+stats.mostCasTeam.id) 
									h4.list-group-item-heading Most Casualties (#{stats.mostCas})
									h5.list-group-item-heading #{stats.mostCasTeam.name}
									p.list-group-item-text #{stats.mostCasTeam.race.name} Team
									p.list-group-item-text Coached by #{stats.mostCasTeam.coach.name}
							if stats.mostTDs > 0
								a.list-group-item(href="/teams/"+stats.mostTDsTeam.id) 
									h4.list-group-item-heading Most TDs (#{stats.mostTDs})
									h5.list-group-item-heading #{stats.mostTDsTeam.name}
									p.list-group-item-text #{stats.mostTDsTeam.race.name} Team
									p.list-group-item-text Coached by #{stats.mostTDsTeam.coach.name}
							if stats.mostKills > 0
								a.list-group-item(href="/teams/"+stats.mostKillsTeam.id) 
									h4.list-group-item-heading Most Kills (#{stats.mostKills})
									h5.list-group-item-heading #{stats.mostKillsTeam.name}
									p.list-group-item-text #{stats.mostKillsTeam.race.name} Team
									p.list-group-item-text Coached by #{stats.mostKillsTeam.coach.name}
							if stats.mostSPPs > 0
								a.list-group-item(href="/teams/"+stats.mostSPPsTeam.id) 
									h4.list-group-item-heading Most SPPs (#{stats.mostSPPs})
									h5.list-group-item-heading #{stats.mostSPPsTeam.name}
									p.list-group-item-text #{stats.mostSPPsTeam.race.name} Team
									p.list-group-item-text Coached by #{stats.mostSPPsTeam.coach.name}
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Coaches
					.panel-body
						.list-group
							each coach, i in selectedSeasonCoaches
								a.list-group-item(href="/coaches/"+coach.id)
									h5.list-group-item-heading #{coach.name}
									each team, i in selectedSeasonTeams
										if team.coach.id == coach.id
											p.list-group-item-text #{team.name}
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Teams
					.panel-body
						.list-group
							each team, i in selectedSeasonTeams
								a.list-group-item(href="/teams/"+team.id)
									h5.list-group-item-heading #{team.name}
									p.list-group-item-text #{team.race.name} Team
									p.list-group-item-text Coached by #{team.coach.name}
