extends ../layouts/starter

append head
	title [KCBBL] Season #{selectedSeason.name.replace("Season","")}

append body
	.container.body-container
		.row
			.col-md-3
				h1 #{selectedSeason.name}
			.col-md-4
				nav
					ul.pagination
						li
							a(href=prev)
								span &laquo;
						each season, i in seasons
							li
								a(id=season.id href="/seasons/"+season.id)
									span #{season.id}
										if currentSeason.id == season.id
											| &nbsp;(in progress)
						li
							a(href=next)
								span &raquo;
		.row.season-body
			.col-md-4
				.panel.panel-default
					.panel-heading
						.panel-title
							img.img-responsive.center-block.trophy(src="/images/trophies/"+trophyImage)
					.panel-body.list-group
						a.list-group-item.active(href=selectedSeasonWinningTeam ? "/teams/"+selectedSeasonWinningTeam.id : "#") 
							h4.list-group-item-heading Winner
							h5.list-group-item-heading 
								if selectedSeasonWinningTeam
									| #{selectedSeasonWinningTeam.name}
									p.list-group-item-text #{selectedSeasonWinningTeam.coach.name}
								else
									| To be determined
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Stats
					.panel-body
						.list-group
							a.list-group-item(href="#") 
								h4.list-group-item-heading Most Casualties (15)
								h5.list-group-item-heading Population: Orc
								p.list-group-item-text Phillip
							a.list-group-item(href="#")
								h4.list-group-item-heading Most TDs (29)
								h5.list-group-item-heading Fink Foulers
								p.list-group-item-text Daniel
							a.list-group-item(href="#")
								h4.list-group-item-heading Most Kills (5)
								h5.list-group-item-heading GoldDiggers
								p.list-group-item-text Flagg
							a.list-group-item(href="#")
								h4.list-group-item-heading Most SPPs (87)
								h5.list-group-item-heading Blood Mountain Berserkers
								p.list-group-item-text David
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Coaches
					.panel-body
						.list-group
							each coach, i in selectedSeasonCoaches
								a.list-group-item(href="/coaches/"+coach.id) #{coach.name}
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Teams
					.panel-body
						.list-group
							each team, i in selectedSeasonTeams
								a.list-group-item(href="/teams/"+team.id) #{team.name}
