extends ../layouts/starter

append head
	title [KCBBL] Team #{curTeam.name}

append body
	.container.body-container
		.row
			.jumbotron
				.container
					.row
						.col-md-8
							h1 #{curTeam.name}
							p
								| #{curTeam.race.name} team coached by 
								a(href="/coaches/"+curTeam.coach.id) #{curTeam.coach.name}
							p
								h1.btn-group
									button.btn.btn-default.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select a team...&nbsp;
										span.caret
									ul.dropdown-menu
										each team, i in teams
											li
												if team.id == curTeam.id
													a(href="#") #{team.name}
												else
													a(href="/teams/"+team.id) #{team.name}
						.col-md-4
							img.race-portrait.img-responsive.pull-right(src="/images/races/portraits/"+curTeam.race.name.toLowerCase().replace(" ","%20")+".png")
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Stats
					.panel-body
						.list-group
							if stats.mostCas > 0
								a.list-group-item(href="/players/"+stats.mostCasPlayer.id) 
									h4.list-group-item-heading Most Casualties (#{stats.mostCas})
									h5.list-group-item-heading #{stats.mostCasPlayer.name}
									p.list-group-item-text #{stats.mostCasPlayer.type.name}
									p.list-group-item-text
										if stats.mostCasPlayer.skills.length > 0
											each skill, i in stats.mostCasPlayer.skills
												if i+1 < stats.mostCasPlayer.skills.length
													| #{skill.name}, 
												else
													| #{skill.name}
							if stats.mostTDs > 0
								a.list-group-item(href="/players/"+stats.mostTDsPlayer.id) 
									h4.list-group-item-heading Most TDs (#{stats.mostTDs})
									h5.list-group-item-heading #{stats.mostTDsPlayer.name}
									p.list-group-item-text #{stats.mostTDsPlayer.type.name}
									p.list-group-item-text
										if stats.mostTDsPlayer.skills.length > 0
											each skill, i in stats.mostTDsPlayer.skills
												if i+1 < stats.mostTDsPlayer.skills.length
													| #{skill.name}, 
												else
													| #{skill.name}
							if stats.mostKills > 0
								a.list-group-item(href="/players/"+stats.mostKillsPlayer.id) 
									h4.list-group-item-heading Most Kills (#{stats.mostKills})
									h5.list-group-item-heading #{stats.mostKillsPlayer.name}
									p.list-group-item-text #{stats.mostKillsPlayer.type.name}
									p.list-group-item-text
										if stats.mostKillsPlayer.skills.length > 0
											each skill, i in stats.mostKillsPlayer.skills
												if i+1 < stats.mostKillsPlayer.skills.length
													| #{skill.name}, 
												else
													| #{skill.name}
							if stats.mostSPPs > 0
								a.list-group-item(href="/players/"+stats.mostSPPsPlayer.id) 
									h4.list-group-item-heading Most SPPs (#{stats.mostSPPs})
									h5.list-group-item-heading #{stats.mostSPPsPlayer.name}
									p.list-group-item-text #{stats.mostSPPsPlayer.type.name}
									p.list-group-item-text
										if stats.mostSPPsPlayer.skills.length > 0
											each skill, i in stats.mostSPPsPlayer.skills
												if i+1 < stats.mostSPPsPlayer.skills.length
													| #{skill.name}, 
												else
													| #{skill.name}
			.col-md-4
				.panel.panel-default
					.panel-heading.clearfix
						h3.panel-title Roster
					.panel-body
						.list-group
							each player, i in players
								a.list-group-item(href="/players/"+player.id)
									h5.list-group-item-heading #{player.number}: #{player.name}
									p.list-group-item-text #{player.type.name}
									p.list-group-item-text
										if player.skills.length > 0
											each skill, i in player.skills
												if i+1 < player.skills.length
													| #{skill.name}, 
												else
													| #{skill.name}
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Seasons
					.panel-body
						.list-group
							each season, i in seasons
								a.list-group-item(href="/seasons/"+season.id) #{season.name}
									if season.id == curSeason.id
										| &nbsp;(in progress)