extends ../layouts/starter

//- append head
//- 	script(src="js/jquery.min.js")
//- 	script(src="js/seasons.js")

append body
	.container.body-container
		.row
			.jumbotron
				.container
					.row
						.col-md-8
							h1 #{curTeam.name}
							p
								| #{curTeam.race.name} team coached by 
								a(href="/coaches/"+curTeam.coach.id) #{curTeam.coach.name}
							p
								h1.btn-group
									button.btn.btn-default.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select a team...&nbsp;
										span.caret
									ul.dropdown-menu
										each team, i in teams
											li
												if team.id == curTeam.id
													a(href="#") #{team.name}
												else
													a(href="/teams/"+team.id) #{team.name}
						.col-md-4
							img.race-portrait.img-responsive.pull-right(src="/images/races/portraits/"+curTeam.race.name.toLowerCase().replace(" ","%20")+".png")
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Stats
					.panel-body
						.list-group
							a.list-group-item(href="#") 
								h4.list-group-item-heading Most Casualties (9)
								h5.list-group-item-heading Mad'zug
								p.list-group-item-text Population: Orc
							a.list-group-item(href="#")
								h4.list-group-item-heading Most TDs (7)
								h5.list-group-item-heading Bad'zug
								p.list-group-item-text Population: Orc
							a.list-group-item(href="#")
								h4.list-group-item-heading Most Kills (1)
								h5.list-group-item-heading Mad'zug
								p.list-group-item-text Population: Orc
							a.list-group-item(href="#")
								h4.list-group-item-heading Most SPPs (33)
								h5.list-group-item-heading Bad'zug
								p.list-group-item-text Population: Orc
			.col-md-4
				.panel.panel-default
					.panel-heading.clearfix
						h3.panel-title Roster
					.panel-body
						.list-group
							each player, i in players
								a.list-group-item(href="/players/"+player.id) #{player.number}: #{player.name}
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Seasons
					.panel-body
						.list-group
							each season, i in seasons
								a.list-group-item(href="/seasons/"+season.id) #{season.name}
									if season.id == curSeason.id
										| &nbsp;(in progress)